<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <%= javascript_pack_tag 'application' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm ropebridge-nav">
       <a class="navbar-brand mr-md-auto my-0" href="#">
        <%= image_tag("/logo.png",  alt: "logo", width: 100) %>
      </a>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-blue nav-size" href="#">Home</a>
        <a class="p-2 blue-hover nav-size" href="/">Start an Adventure</a>
        <a class="p-2 blue-hover nav-size" href="#">Be a Local</a>
        <a class="p-2 blue-hover nav-size" href="#">Contact Us</a>
      </nav>
      <!--<a class="btn btn-red" href="#">Sign up</a>-->
    </div>
    <div class='yield'>
      <%= yield %>
    </div>
        </div>

    
      <footer class="border-top" style="margin-top:15px; padding-top:14px">
        <div class="row">
          <div class="col-12 col-md text-center">
            <small class="d-block mb-3 text-muted">&copy;2018</small>
              <p>RopeBridge </p>
              <p>55-550 Naniloa Loop, Laie Hi</p>
          </div>
        </div>
      </footer>
  </body>


</html>
